body {
  font-family: "Roboto", sans-serif;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1150px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* хедер */

.header {
  position: absolute;
  list-style: none;
  width: 100%;
}

.header-logo {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  display: flex;
}

.header-accent {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  color: #ffffff;
  display: block;
}

.header-contacts {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.header-description {
  margin-left: 20px;
}

.header-button {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  background-color: transparent;
  padding: 12px 26px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
}

.header-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}

.header-blok {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  margin-bottom: 20px;
}

.header-list {
  margin-left: 179px;
  display: flex;
}

.header-item {
  margin-right: 33px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-navigation {
  display: flex;
}

.navigation-item {
  margin-right: 32px;
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 13px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.header::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  top: 81px;
  background: #c4c4c4;
  opacity: 0.3;
  border: 1px solid #d9d9de;
  position: absolute;
}

/* Герой */

.hero {
  background-image: url(../images/main1.jpg);
  padding-top: 226px;
  padding-bottom: 33px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: PT Serif, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 1.3;
  color: #ffffff;
  margin-bottom: 8px;
  max-width: 724px;
}

.hero-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 94px;
  max-width: 562px;
}

.hero-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 20px 53px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 184px;
  display: inline-block;
}

.hero-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

/* Категории */

.categories-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.categories-item {
  width: 256px;
  border: 1px solid #d9d9de;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
}

.categories-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 19px;
  padding-right: 19px;
  color: black;
}

.categories {
  padding-bottom: 64px;
  padding-top: 48px;
}

/* Основные направления */

.directions-title {
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.directions-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
  margin-bottom: 37px;
}

.directions {
  padding-top: 44px;
  padding-bottom: 46px;
  background: rgba(112, 207, 41, 0.07);
}

.directions-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
}

.directions-icon {
  margin-bottom: 16px;
}

/* Популярные предложения */

.suggestions {
  padding-top: 76px;
  padding-bottom: 80px;
}

.suggestions-title {
  font-family: PT Serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 40px;
}

.suggestons-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.suggestions-item:nth-child(3) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.suggestions-link {
  position: relative;
  display: block;
}

.suggestions-subtitle {
  position: absolute;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: #ffffff;
  top: 0;
  left: 0;
  margin-left: 17px;
  margin-right: 21px;
  margin-top: 16px;
}

.suggestions-subtitle-big {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 17px;
  margin-right: 21px;
  margin-top: 16px;
}

.suggestions-price {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
  color: #ffffff;
  margin-left: 24px;
  padding-right: 14px;
  margin-bottom: 19px;
}

.suggestions-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: multiply;
  opacity: 0.5;
  border-radius: 6px;
}

.suggestions-item-end {
  position: relative;
}

.suggestions-subtitle-end {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  margin-top: 92px;
}

/* Футер */
.footer {
  color: white;
  background-color: #202020;
}

.footer-top {
  display: flex;
  padding: 39px 0px 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 1120px;
}

.footer-block {
  margin-right: 76px;
}

.footer-block:last-child {
  margin-right: auto;
}

.footer-name {
  margin-bottom: 17px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.footer-item {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.3;
}

.footer-item > a {
  display: inline-block;
  margin-bottom: 10px;

  color: rgba(255, 255, 255, 0.8);
}

/* Футер нижняя часть */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 45px;
}

.address {
  display: flex;
  margin-right: 126px;
}

.address-item:not(:last-child) {
  margin-right: 62px;
}

.tour {
  margin-right: 64px;
}

.tour-title {
  margin-bottom: 7px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
}

.under {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.8);
}

.contact-list.under,
.tour-title .under {
  line-height: 1.5;
}

.contact-item > a {
  color: rgba(255, 255, 255, 0.8);
}

.vector {
  font-weight: 400;
  line-height: 1.3;
  font-style: normal;
}

.vector-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.design {
  margin-right: 14px;

  font-size: 12px;
  color: white;
  opacity: 0.5;
}

.vector-title {
  display: inline-block;
  margin-bottom: 20px;

  font-style: normal;
  font-size: 14px;
  color: white;
  text-decoration-line: underline;
}
